:root {
    /* colors*/
    --color-body-bg: #fafafa;
    --color-feature-bg: #fff;
    --color-feature-title: #4c4e61;
    --color-p: #a3a5ae;

    /* features border colors */
    --color-cyan: #45d3d3;
    --color-red: #ea5353;
    --color-orange: #fcaf4a;
    --color-blue: #549ef2;

    /* fonts */
    --font-poppins: 'Poppins', sans-serif;

    /* redius size */
    --radius-size-sm: 8px;

    /* feature box shadow */
    --box-shadow:0px 10px 14px -8px rgba(163,165,174,0.42)
}


/*  global block and shared css */

.screen {
    background-color: var(--color-body-bg);
    font-family: var(--font-poppins);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}

.main {
    padding:1rem;
}


.text-semibold {
    font-weight: 600;
}

.text-regular {
    font-weight: 400;
}

.text-extralight {
    font-weight: 200;
}

.desc-color {
    color: var(--color-p);
}

.title-color {
    color: var(--color-feature-title);
}

 /* 
    card feature classes structure.

    this is a structure for card feature, some of
    them may not be used.

    card-feature [block]
        card-feature__title [element]
        card-feature__desc [element]
        card-feature__items [element]
            card-feature__items_item [block]
                card-feature__item__title[element]
                card-feature__item__desc[element]
                card-feature__item__img[element]

 */

.card-feature {
    margin: auto 1rem;
}

.card-feature__title {
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
    font-size: 1.5rem;
    padding: 0 0.5rem;
    text-align: center;
}

.card-feature__desc {
    padding: 0 0.5rem;
    font-size: 0.94rem; /* ~ 15px */
    text-align: center;
    line-height:1.625;
    padding-top:0.25rem;
}

.card-feature__items {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-top:4.75rem;
}

.card-feature__item {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    background-color: var(--color-feature-bg);
    border-radius: var(--radius-size-sm);
    padding: 1.625rem 1.72rem 1.7rem 1.7rem;
    box-shadow: var(--box-shadow);
    border-top: 4px solid transparent;
}

/* reset default margin */
.card-feature__item > h2,
.card-feature__item > p {
    margin: 0;
}

.card-feature__item__title{
    font-size: 1.25rem;
}

.card-feature__item__desc{
    font-size: 0.825rem;
    line-height: 1.7;
    padding: 0 0.125rem;
}

.card-feature__item__icon {
    align-self: flex-end;
    width:3.5rem;
    margin-top: 1.5rem;
}

/* semi global classes*/

.border-color-cyan {
    border-color:var(--color-cyan);
}

.border-color-red {
    border-color:var(--color-red);
}

.border-color-orange {
    border-color:var(--color-orange);
}

.border-color-blue {
    border-color:var(--color-blue);
}


/* media break point*/

@media screen and (max-width: 23em) {
        .card-feature__title{
            font-size: 1.125rem;
        }
}

@media screen and (min-width: 40em)
{
    .card-feature__title {
        font-size: 2.26rem;
        margin-top: 0;
    }

    .card-feature__desc {
        max-width: 32rem;
        padding: 0;
        margin:auto;
    }

    .card-feature__items {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 1.5rem;
    }

    .card-feature__item {
        padding: 2rem;
        flex: 1;
        min-width: 15rem;
    }

 
    .card-feature__item__desc{
        padding-top:0.25rem;
        min-height:4.625rem;
    }
    
    .card-feature__item__icon {
        width:4rem;
        margin-top:0.125rem;
    }
}

@media screen and (min-width: 62em) { 
    .card-feature__item {
        min-width: 20rem;
    }
}

@media screen and (min-width: 75em) {

    .card-feature__items {
        display: grid;
        grid-template: repeat(4, minmax(auto, 6.875rem)) / repeat(3, minmax(auto , 22rem));
        column-gap: 2rem;
        row-gap: 2rem;
        margin-top:3.65rem;
    }
    

    /* 
          2     3     4
    1-----|-----|-----| -> A = grid-area: 2 / 1 / 4 / 2;
             B             B = grid-area: 1 / 2 / 3 / 3;
    2-----|-----|-----|    C = grid-area: 3 / 2 / -1 / 3;  /* -1 or 5
       A     B     D       D = grid-area: 2 / 3 / 4 / -1;  /* -1 or 4
    3-----|-----|-----|
       A     C     D
    4-----|-----|-----|
             C
    5-----|-----|-----|   
    
    */

    .card-feature__item {
        min-width: auto;
    }

    .card-feature__item:first-child {
        grid-area: 2 / 1 / 4 / 2;
    }

    .card-feature__item:nth-child(2){
        grid-area: 1 / 2 / 3 / 3;
    }
    .card-feature__item:nth-child(3){
        grid-area: 3 / 2 / -1 / 3;
    }
    .card-feature__item:nth-child(4){
        grid-area: 2 / 3 / 4 / -1;
    }
     
}